.page-container {
  display: flex;
}

.organization-selector-header {
  margin-top: 7px;
}

.organization-selector {
  flex-shrink: 0;
  margin-right: 48px;
}

.right-part-bottom {
  display: flex;
}

.member-table-header {
  margin: 0;
}

.header {
  color: #334155;
}
