.header {
  background-color: #94a3b8;
  height: 64px;
}

.main {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav {
  height: 100%;
  width: 240px;
  background-color: #94a3b8;
  flex-shrink: 0;
}

.content {
  padding: 16px;
}
